@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #FEDCDC;
    margin: 0;
    line-height: normal;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

p {
    color: rgb(85, 85, 85);
}

a, .btn {
    transition: all 300ms ease;
}

nav, .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: #CF7878;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    text-decoration-color: #854a4a;
    -moz-text-decoration-color: #854a4a;
}

a:hover {
    color: #854a4a;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #854a4a;
    -moz-text-decoration-color: #854a4a;
}

.logo {
    font-size: 6rem;
    color: #854a4a;
    font-weight: 600;
    cursor: pointer;
    padding-left: 20%;
}
#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
}

.hamburger-icon span {
    height: 4px;
    width: 100%;
    background-color: #CF7878;
    transition: all 0.3s ease-in-out;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(7.5px, 7.5px);
    -webkit-transform: rotate(45deg) translate(7.5px, 7.5px);
    -moz-transform: rotate(45deg) translate(7.5px, 7.5px);
    -ms-transform: rotate(45deg) translate(7.5px, 7.5px);
    -o-transform: rotate(45deg) translate(7.5px, 7.5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -10px);
    -webkit-transform: rotate(-45deg) translate(10px, -10px);
    -moz-transform: rotate(-45deg) translate(10px, -10px);
    -ms-transform: rotate(-45deg) translate(10px, -10px);
    -o-transform: rotate(-45deg) translate(10px, -10px);
}


#showcase {
    display: flex;
    flex-direction: column; 
    gap: 2rem;
    padding: 10rem;
    align-items: center; 
    justify-content: center; 
}

.article-image {
    background-color: #FEDCDC;
}

#showcase-img {
    width: auto;
    height: 800px;
    overflow: hidden;
    border: 5px solid #CF7878;
}

.article-textshow {
    width: 100%;
    text-align: justify;
}

#showcase-title {
    color: #854a4a;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center; 
}

#showcase-description {
    color: #854a4a;
    line-height: 1.8;
}

.description-section {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

#showcase-description strong {
    margin-bottom: 0.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    padding: 1rem;
    width: 15rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.btn-color-1{
    border: 0.1rem solid #CF7878;
    background-color: transparent;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.btn-color-1 {
    background-color: #CF7878;
}

.btn-color-1:hover {
    background-color: #854a4a;
    color: white;
}

.btn-color-2:hover {
    background-color: #854a4a;
}